{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    ["@dr.pogodin/babel-preset-svgr", { "icon": true }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "es": {
      "plugins": [
        // in npm run build, .svgs will be translated to js as React components; update imports to match
        ["replace-import-extension", { "extMapping": { ".svg": ".js" } }],
        ["transform-inline-environment-variables", { "include": ["VOLEAPP_VERSION"] }]
      ]
    }
  }
}
