{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    ["@dr.pogodin/babel-preset-svgr", { "icon": true }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "es": {
      "plugins": [["transform-inline-environment-variables", { "include": ["VOLEAPP_VERSION"] }]]
    }
  }
}
