# Dependencies
node_modules

# IDE and system files
.idea/
.DS_Store
.vscode/
coverage/
environment.txt

# Built files
es/
imageviewer/
type-declarations/

# Local environment configuration
.env*.local