@import "../../assets/styles/variables";

.control-panel-content .channel-row {
  .ant-btn-text {
    color: var(--color-button-icon-activated-text);
    transition: color 0.3s;

    &:hover,
    &:focus-visible {
      color: var(--color-button-tertiary-hover-text) !important;
    }
  }

  &.controls-closed .ant-btn-text:not(:focus-visible) {
    color: var(--color-controlpanel-text);
  }

  &.single-channel {
    background-color: var(--color-button-primary-bg);

    h4,
    .channel-visibility-controls {
      color: var(--color-button-primary-text);
      font-weight: 600;
    }

    .color-picker .color-picker-swatch {
      border-color: var(--color-button-primary-text);
    }
  }
}
