@import "../../assets/styles/variables";

.control-panel-content .ant-list-item.channel-row {
  /* Provides the border in between list elements */
  &::after {
    content: "";
    margin-top: 22px;
    width: 100%;
    border-bottom: 1px solid var(--color-controlpanel-border);
  }

  .ant-list-item-meta-title,
  .ant-checkbox-wrapper {
    color: var(--color-controlpanel-text);
  }

  .ant-list-item-meta {
    align-items: center;
  }

  .ant-btn-text {
    color: var(--color-button-icon-activated-text);
    transition: color 0.3s;

    &:hover,
    &:focus-visible {
      color: var(--color-button-tertiary-hover-text) !important;
    }
  }

  .button-row {
    margin-top: 16px;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 5px;

    .ant-btn.ant-btn-sm {
      padding: 12px 8px;
    }
  }

  &.controls-closed .ant-btn-text:not(:focus-visible) {
    color: var(--color-controlpanel-text);
  }

  &.single-channel {
    background-color: var(--color-button-primary-bg);

    .channel-visibility-controls,
    .ant-list-item-meta-title {
      color: var(--color-button-primary-text);
      font-weight: 600;
    }

    .color-picker .color-picker-swatch {
      border-color: var(--color-button-primary-text);
    }
  }
}
