@import "../../assets/styles/variables";

.control-panel-content .control-panel-row {
  .ant-btn-text {
    color: var(--color-button-icon-activated-text);
    transition: color 0.3s;

    &:hover,
    &:focus-visible {
      color: var(--color-button-tertiary-hover-text) !important;
    }
  }

  &.controls-closed .ant-btn-text:not(:focus-visible) {
    color: var(--color-controlpanel-text);
  }
}
