.resolution-control {
  flex-grow: 1;

  &.ant-select {
    > .ant-select-selector {
      text-align: left;
    }

    .ant-select-selection-item {
      color: var(--color-button-tertiary-text);
    }

    &.ant-select-disabled .ant-select-arrow {
      display: none;
    }
  }
}
